=save_button
=ceditable("about title", "h5")

=ceditable("about description", "p")

%hr
%h1 Our partners
=render "shared/partners"

%hr

%h1 Logo explanation

.row
  .three.columns
    =image_tag "ss_logo.png"
  .nine.columns
    abstract. Of the mountain peaks (similar to background mountains), and a curved road (path to the success story). Curve is made out of the letter S.

%hr

=render :partial => "videos/videos", :locals => {:videos => popular, :caption => "Popular Interviews"}
