=save_button
=ceditable("contact title", "h5")

=ceditable("contact description", "p")

%hr
%h1 Our partners
=render "shared/partners"

%hr

=render :partial => "videos/videos", :locals => {:videos => popular, :caption => "Popular Interviews"}
