=save_button
=ceditable("feedback title", "h5")

=ceditable("feedback description", "p")

%hr
%h1 Партнёры
=render "shared/partners"

%hr

=render :partial => "videos/videos", :locals => {:videos => popular, :caption => "Popular Interviews"}
