.videos
  -videos.each do |v|
    .a_video
      .video-wrap
        =link_to v, :class => 'video-image' do
          -if v.img?
            =image_tag v.img_url(:small)
          -else
            =image_tag("http://img.youtube.com/vi/#{v.youtube}/mqdefault.jpg")
          .long_button
            Смотреть

      %h3=v.title
      %p=v.description


