%h1=caption
.row
  -videos.each do |video|
    .four.columns
      .video-wrap
        =link_to video, :class => 'video-image' do
          -if video.img?
            =image_tag video.img_url(:small)
          -else
            =image_tag("http://img.youtube.com/vi/#{video.youtube}/mqdefault.jpg")
          .long_button
            view
      %h3=video.title