#notice= notice
%h2
  = @video.title
.row
  .seven.columns
    .video
      #video=@video.youtube
  .five.columns
    =render :partial => "blocks/add_block", :locals => {:video => @video}
    =render :partial => "blocks/content", :locals => {:video => @video}

.panel
  .current_time
    Current time
  .duration
    Duration





= link_to 'Edit', edit_video_path(@video)
\|
= link_to 'Back', videos_path
