#notice= notice
%h2
  = @video.title
.row
  .seven.columns
    .video
      #video=@video.youtube
  .five.columns
    =render :partial => "blocks/add_block", :locals => {:video => @video}
    =render :partial => "blocks/content", :locals => {:blocks => @video.blocks}

.panel
  .current_time
    Current time
  .duration
    Duration


.block_link.button{'data-start' => '50', 'data-end' => '100', 'data-video' => 'qlEsPBy4K48'} Example of link to external video (will play Steve Blank from 50 second)


= link_to 'Edit', edit_video_path(@video)
\|
= link_to 'Back', videos_path
