=ceditable("team title", "h1")


.member
  .pic-wrap
    =image_tag('yuliya.jpg')
  =ceditable("yuliya name", "h1")
  =ceditable("about yuliya", "p")

.member
  .pic-wrap
    =image_tag('mike.jpg')
  =ceditable("mike name", "h1")
  =ceditable("about mike", "p")

.member
  .pic-wrap
    =image_tag('renat.jpg')
  =ceditable("renat name", "h1")
  =ceditable("about renat", "p")

.member
  .pic-wrap
    =image_tag('sofya.jpg')
  =ceditable("sofya name", "h1")
  =ceditable("about sofya", "p")
