%h1 Team


.member
  .pic-wrap
    =image_tag('yuliya.jpg')
  =ceditable("about yuliya", "p")

.member
  .pic-wrap
    =image_tag('mike.jpg')
  =ceditable("about mike", "p")

.member
  .pic-wrap
    =image_tag('renat.jpg')
  =ceditable("about renat", "p")

.member
  .pic-wrap
    =image_tag('sofya.jpg')
  =ceditable("about sofya", "p")
