%h1 Team


.member
  .pic-wrap
    =image_tag('yuliya.jpg')
  .text
    =ceditable("yuliya name", "h1")
    =ceditable("about yuliya", "p")

.member
  .pic-wrap
    =image_tag('mike.jpg')
  .text
    =ceditable("mike name", "h1")
    =ceditable("about mike", "p")

.member
  .pic-wrap
    =image_tag('renat.jpg')
  .text
    =ceditable("renat name", "h1")
    =ceditable("about renat", "p")

.member
  .pic-wrap
    =image_tag('sofya.jpg')
  .text
    =ceditable("sofya name", "h1")
    =ceditable("about sofya", "p")
