.middle.top_padding.main-page
  .main-image-wrap
    %a.play{:href => "#"}
    =image_tag('img.jpg', :class => "main-image")
    .sign
      %h1.highlighted
        Interview with a smart guy
      %h3.white
        This is the description of a video. This is the description of a video. This is the description of a video. This is the description of a video. This is the description of a video. This is the description of a video. This is the description of a video.

  .the_content
    %hr
    .row
      .eight.columns
        =render :partial => "videos/videos", :locals => {:videos => popular, :caption => "Популярные интервью"}
        %hr
        =render :partial => "videos/videos", :locals => {:videos => random, :caption => "Последние интервью"}
      .two.columns
        %h1 Категории
        =render "categories/top_list"
      .two.columns
        %h1 Партнёры
        =render "shared/partners"




  =render "layouts/footer"
