.middle.top_padding.main-page.home
  .main-image-wrap
    %a.play{:href => front.url}
    =image_tag(front.img_url(:big), :class => "main-image")
    .sign
      %h1.highlighted
        =front.title
      %h3.white.hide-for-small
        =front.description

  .the_content
    %hr
    .row
      .eight.columns
        =render :partial => "videos/videos", :locals => {:videos => popular, :caption => "Популярные интервью"}
        %hr
        =render :partial => "videos/videos", :locals => {:videos => random, :caption => "Последние интервью"}
        .all_videos
          =link_to "Все видео", videos_url, :class => "all_videos_link"
      .two.columns
        %h1 Категории
        =render "categories/top_list"
      .two.columns
        %h1 Партнёры
        =render "shared/partners"




  =render "layouts/footer"
