.middle.top_padding.main-page
  .main-image-wrap
    %a.play{:href => "#"}
    =image_tag('img.jpg', :class => "main-image")
    .sign
      %h1.highlighted
        Interview with a smart guy
      %h3.white
        This is the description of a video. This is the description of a video. This is the description of a video. This is the description of a video. This is the description of a video. This is the description of a video. This is the description of a video.

  .the_content
    %hr
    .row
      .eight.columns
        =render :partial => "videos/videos", :locals => {:videos => popular, :caption => "Popular Interviews"}
        %hr
        =render :partial => "videos/videos", :locals => {:videos => popular, :caption => "Recommended Playlists"}
      .two.columns
        %h1 Categories
        =render "categories/list"
      .two.columns
        %h1 Our Partners
        =render "shared/partners"




  .footer2
    Subscribe