.middle.top_padding.main-page
  .main-image-wrap
    %a.play{:href => "#"}
    =image_tag('img.jpg', :class => "main-image")
    .sign
      %h1.highlighted
        Interview with a smart guy
      %h3.white
        This is the description of a video. This is the description of a video. This is the description of a video. This is the description of a video. This is the description of a video. This is the description of a video. This is the description of a video.

  .the_content
    %hr
    .row
      .eight.columns
        %h1 Popular Interviews
        .row
          -@popular.each do |video|
            .four.columns
              .video-wrap
                =link_to(video, :class => 'video-image') do
                  =image_tag("http://img.youtube.com/vi/#{video.youtube}/mqdefault.jpg")
                  .long_button
                    view
              %h3=video.title
        %hr
        %h1 Recommended Playlists
        .row
          -@playlists.each do |video|
            .four.columns
              .video-wrap
                =link_to(video, :class => 'video-image') do
                  =image_tag("http://img.youtube.com/vi/#{video.youtube}/mqdefault.jpg")
                  .long_button
                    view
              %h3=video.title

      .two.columns
        %h1 Popular Questions
        %ul.browse
          %li Category1
          %li Category2
          %li Category3
          %li Category4
          %li Category5
      .two.columns
        %h1 Our Partners
        =render "shared/partners"




  .footer2
    Subscribe