.like_buttons.top_padding
  .fb-like{"data-layout" => "button_count", "data-send" => "true", "data-show-faces" => "true", "data-width" => "100"}

  .top_padding
    =render "social_media/tweet_button"


