.likebox-wrap
  .fb-like-box{"data-header" => "false",
  "data-height" => "430",
  "data-href" => "http://www.facebook.com/startupstoryru",
  "data-show-faces" => "true",
  "data-stream" => "false",
  "data-width" => "204"}