.add_block
  .add_block_button.button
    Add block @
    %span.current_time
    second

  .block_form.hidden
    =form_for video.blocks.build, :remote => true do |f|
      =f.hidden_field :video_id, :value => video.id
      .field
        =f.label :title
        =f.text_field :title
      .field
        =f.label :start_time
        .row.collapse
          .four.mobile-one.columns
            .postfix.button.expand.measure{:href => "#"} Now
          .eight.mobile-three.columns
            =f.number_field :start_time
      .field
        =f.label :answer_start
        .row.collapse
          .four.mobile-one.columns
            .postfix.button.expand.measure{:href => "#"} Now
          .eight.mobile-three.columns
            =f.number_field :answer_start
      .field
        =f.label :end_time
        .row.collapse
          .four.mobile-one.columns
            .postfix.button.expand.measure{:href => "#"} Now
          .eight.mobile-three.columns
            =f.number_field :end_time

      .actions
        =f.submit 'Save', :class => 'button'