.block_list
  -video.blocks.each do |b|
    .video_link.video_block{'data-start' => b.start_time, 'data-end' => b.end_time}
      %h4=b.title
      Start time: #{b.start_time}, end time #{b.end_time}
