.block_list
  -blocks.each_with_index do |b, i|
    .block_link.video_block{'data-start' => b.start_time, 'data-end' => b.end_time, 'data-id' => b.id, 'data-video' => b.video.youtube, 'data-no' => i}
      %h2=b.title
      %h6
        Start time: #{b.start_time}, end time #{b.end_time}
      -if admin?
        =render :partial => "blocks/block_form", :locals => {:block => b}
      .triangle
