.the_content
  -if admin?
    =render :partial => "blocks/add_block", :locals => {:video => video}
-if admin?
  =render :partial => "blocks/content_admin", :locals => {:blocks => video.blocks.order(:start_time)}
-else
  =render :partial => "blocks/content", :locals => {:blocks => video.blocks.order(:start_time)}

