// Place all the styles related to the Categories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.browse {
  a {
    display:block;
    width:100%;
    padding-top: 12px;
    padding-bottom: 12px;
    font-size: 15px;
    -webkit-transition: all 0.2s ease-out;  /* Safari 3.2+, Chrome */
    -moz-transition: all 0.2s ease-out;  /* Firefox 4-15 */
    -o-transition: all 0.2s ease-out;  /* Opera 10.5–12.00 */
    transition: all 0.2s ease-out;  /* Firefox 16+, Opera 12.50+ */
    background: url(transparent.gif) no-repeat right center;
    padding-left:5px;
    &:hover {
      background: url(arrow.png) no-repeat right center;
    }
  }
}

.category {
  .the_content {
    padding-left:5%;
    padding-right:5%;
  }
}