// Place all the styles related to the internal controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.internal_content {
  max-width: 800px;
  padding-left: 5%;
  padding-right: 5%;

  h5 {
    font-size: 37px;
    font-weight:bold;
  }

  p {
    font-size: 19px;
  }
}

.member {
  overflow:hidden;
  padding-bottom:20px;
  .pic-wrap {
    padding:5px;
    border:1px solid #e8e8e8;
    width:140px;
    height:140px;
    float:left;
  }
  .text {
    float:left;
    display:block;
    margin-left:20px;
    margin-rigth:20px;
    //width:80%;
    box-sizing: border-box;
    h1 {
    }
    p {
    }
  }

  &:after {
    clear:both;
  }

}