@import url(http://fonts.googleapis.com/css?family=PT+Sans:400,700&subset=latin,cyrillic);

html body {
  font-family: 'PT Sans', sans-serif;
  color: #333333;
  font-size: 15px;
  text-shadow: 0px 1px 1px white;
  p, h1, h2, h3, h4, h5, h6, div {
    font-family: 'PT Sans', sans-serif;
  }
}
.big_text {
  font-size: 37px;
  font-weight:bold;
}

hr {
  border-top: none;
  border-bottom: none;
  background: url(dots.png) repeat-x;
  height:3px;
  margin-top:15px;
  margin-bottom:15px;
}

.light {
  color: #666666;
}

.very-light {
  color: #999999;
}

.highlighted {
  color: #2e988d !important;
}

a {
  color: #333333;
  &:hover {
    color: #2e988d;
    font-weight:bold;

  }
  -webkit-transition: all 0.2s ease-out;  /* Safari 3.2+, Chrome */
  -moz-transition: all 0.2s ease-out;  /* Firefox 4-15 */
  -o-transition: all 0.2s ease-out;  /* Opera 10.5–12.00 */
  transition: all 0.2s ease-out;  /* Firefox 16+, Opera 12.50+ */

}
.white {
  color:white;
}

h1 {
  font-size: 21px;
}
h2 {
  font-size: 17px;
}
h3 {
  font-size: 15px;
  font-weight: normal;
}
h4 {
  font-size: 13px;
  font-weight: normal;
}
h5 {
  font-size: 12px;
  font-weight: normal;
}
h6 {
  font-size: 11px;
  font-weight: normal;
}



.main {
  background: #f7f7f7;
  display:table;
  width:100%;
  box-sizing: border-box;
  overflow:hidden;
}



@media screen and (max-width: 960px) {
  .header {
    display:none;
  }
  .right_panel {
    //display:none !important;
  }
  .middle, .footer2 {
    width: 70% !important;
    //width: 100% !important;

  }
}

.middle {
  overflow:hidden;
  vertical-align: top;
  display:table-cell;
  box-sizing: border-box;
  padding-bottom:50px;
  .the_content {
    padding-left:4%;
    padding-right:4%;
    min-height:500px;
  }
}



.top_padding {
  padding-top:30px;
}
.top_big_padding {
  padding-top:100px;
}

.footer1 {
  background: #4f423c;
  position:absolute;
  width:220px;
  bottom:0px;
  content:' ';
  height:40px;
  padding-top:15px;
  padding-left:20px;
  box-shadow: inset 0px 1px 5px rgba(0,0,0,0.5) !important;
  font-size: 13px;
  font-weight: normal;
  color: white;
  text-shadow: 0px -1px 0px rgba(0,0,0,0.5);

}

.footer2 {
  background: #4f423c;
  position:absolute;
  width:100%;
  bottom:0px;
  content:' ';
  height:50px;
  padding-top:15px;
  padding-left:20px;
  box-shadow: inset 0px 1px 5px rgba(0,0,0,0.2) !important;
  font-size: 13px;
  font-weight: normal;
  color: white;
  text-shadow: 0px -1px 0px rgba(0,0,0,0.5);

}

.fb-comments, .fb-comments iframe[style] {width: 100% !important;}

.fb-comments, .fb-comments span, .fb-comments.fb_iframe_widget span iframe {
  width: 100% !important;
}


.browse {
  font-size: 15px;
  list-style-type: none;
  li {
    border-bottom: 1px solid #dcdcdc;
    border-top: 1px solid #ffffff;
    &:first-child {
      border-top: none;
    }
    &:last-child {
      border-bottom: none;
    }
  }

}


.partners {
  a {
    float:left;
    padding-bottom:20px;
    margin-right:20px;
  }
  &:page-break-after {
    clear:both;
  }
}

body .no_flash_message {
  display:none;
}