.a_video {
  max-width: 330px;
  margin-right:20px;
  float:left;
  height: 400px;
  overflow:hidden;
  margin-bottom:20px;
}

.videos {
  clear:both;
  h3 {
    font-weight: bold;
  }
  p {
    font-size: 13px;
  }
}
