.video_page {

  width:55%;

  .the_content {
    padding-left:7%;
    padding-right:7%;
  }

  .footer2 {
    max-width:792px;
    width:55%;
  }

}


.right_panel {
  background: url(right_panel.png) repeat-y;
  background-position: left top;
  display:table-cell;
  box-sizing: border-box;
  vertical-align: top;
  .the_content {
    padding-left: 25px;
    padding-right: 25px;
    overflow:hidden;
  }
}
