// Place all the styles related to the Videos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.video object {
  //height: 295px !important;
}

.hidden {
  display:none;
}

.right_panel {

  .blocks_wrap {
    overflow-y:scroll;
    height:700px;
    width:100%;
    margin-left:-15px;
    padding-left:15px;
  }

  .block_list {

    .block_edit_form {
      display:none;
    }


    div.block_link {
      cursor: pointer;
      padding-top:10px;
      padding-bottom:10px;
      padding-left:25px;
      border-bottom:1px solid #bdbdbd;
      box-shadow: 0px 1px 0px #f4f6f5;

      -webkit-transition: all 0.5s ease-out;  /* Safari 3.2+, Chrome */
      -moz-transition: all 0.5s ease-out;  /* Firefox 4-15 */
      -o-transition: all 0.5s ease-out;  /* Opera 10.5–12.00 */
      transition: all 0.5s ease-out;  /* Firefox 16+, Opera 12.50+ */
    }

  }

}

.active_block {
  background: #2e988c;
  position:relative;
  box-shadow: inset -2px 1px 5px rgba(0,0,0,0.2) !important;
  text-shadow: 0px 1px 1px rgba(0,0,0,0.5);
  color:white;

  .triangle {
    background: url(3angle.png) no-repeat;
    background-position: right center;
    width: 15px;
    height: 30px;
    position:absolute;
    left:-15px;
    margin-top: -15px;
    top:50%;
    overflow:hidden;
    z-index:100px;
    content: ' ';
  }
  .block_edit_form {
    display:block !important;
    background:rgba(255,255,255,0.5);
    width:90%;
    padding:20px;
    border-radius: 20px;;
  }

}

.video_link {
  cursor: pointer;
}