.category.top_padding
  .the_content
    %p#notice= notice

    %h1.big_text
      = @category.title

    %hr

    -if admin?
      = link_to 'Edit', edit_category_path(@category)
      \|
      = link_to 'Back', categories_path

    =render :partial => "videos/search", :locals => {:videos => @category.the_videos}

    %hr