
.the_content
  %a.logo{:href => '/'}
    =image_tag('logo.png')
  %h4.light
    True stories from founders of startups
  .topmenu
    %a{:href => "/about"}
      %h5 About
    %a{:href => "/contact"}
      %h5 Contact
    %a{:href => "/feedback"}
      %h5 Feedback

  .top-padding

  =render "shared/search"

  %h4.very-light
    Browse popular category

  =render "categories/list"


  =render "social_media/likebox"

.footer1
  StartupStory @2012