-cache('header') do
  .the_content
    %a.logo{:href => '/'}
      =image_tag('ss_logo.png')
    %h4.light.tagline
      Истории фаундеров и экспертов из Кремниевой долины
    .topmenu
      %a{:href => "/about"}
        %h5 О проекте
      %a{:href => "/contact"}
        %h5 Контакт
      %a{:href => "/feedback"}
        %h5 Отзывы

    .top-padding

    =render "shared/search"

    %h4.very-light.browse-header
      искать по категории

    =render "categories/list"


    =render "social_media/likebox"

  .footer1
    StartupStory @2012