!!!
%html
  %head
    %title StartupStory.ru - истории фаундеров стартапов и экспертов
    %meta{:content => "Видеоинтервью с CEO стартапов из Кремниевой долины", :name => "description"}/
    -if controller.action_name == 'show' and controller.controller_name == "videos"
      = yield :meta
    -else
      =render "social_media/metadata"
    = stylesheet_link_tag    "application", :media => "all"
    %script{:src => "http://www.google.com/jsapi", :type => "text/javascript"}
    =render "social_media/google_analytics"
    = javascript_include_tag "application"
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    = csrf_meta_tags
%body
  =render 'social_media/facebook_head'
  =render 'social_media/vk_head'
  .container
    .row
      .main
        .header.top_padding
          =render "layouts/header"
        -if controller.controller_name != "videos" and controller.controller_name != "home" and controller.controller_name != "categories"
          .middle.top_padding.main-page
            .internal_content
              =yield
            =render "layouts/footer"
        -else
          -if controller.action_name != 'new' and controller.action_name != "edit"
            =yield
          -else
            .middle.top_padding.main-page
              .internal_content
                =yield
              =render "layouts/footer"

